{%  extends 'index.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
    
    margin: 0px;
    padding: 0px;
    background: url('/static/gyma.jpg');
    background-size: 900px;
}
.content{
   
    font-size: 20px;
    color:white;
}
</style>
<body>
    <div class="content">
        <h1><b>OUR STORY</b></h1>
        <blockquote class="blockquote">
            <p class="mb-0">       Although everyone can benefit from exercise, the mechanistic links between physical fitness and overall health are not fully understood, nor are the reasons why the same exercise can have different effects in different people. Now a study published in Nature Metabolism led by investigators at Beth Israel Deaconess Medical Center (BIDMC) provides insights related to these unanswered questions. The results could be helpful for determining the specific types of exercise most likely to benefit a particular individual and for identifying new therapeutic targets for diseases related to metabolism.

                "While groups as a whole benefit from exercise, the variability in responses between any two individuals undergoing the very same exercise regimen is actually quite striking. For example, some may experience improved endurance while others will see improved blood sugar levels," said senior corresponding author Robert E. Gerszten, MD, Chief of the Division of Cardiovascular Medicine at BIDMC. "To date, no aspects of an individual's baseline clinical profile allow us to predict beforehand who is most likely to derive a significant cardiorespiratory fitness benefit from exercise training."
                
                To uncover the details behind exercise's effects on the body and how these might differ from one person to the next, the team, including first author Jeremy Robbins, MD, of the Division of Cardiovascular Medicine at BIDMC, measured the blood levels of approximately 5,000 proteins in 650 sedentary adults before and after a 20-week endurance exercise program.
                
                "We were particularly interested at looking at proteins in the blood to study the effects of exercise because there is a growing body of evidence showing that exercise stimulates the secretion of chemicals into circulation that can impart their effects on distant organs," Robbins said.
                
               </p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">THE TOOFAN EXPRESS</cite></footer>
          </blockquote>
      </div>
</body>
</html>

{% endblock %}
